:root{
--primary-color:#293d4e;
--secondary-color:#b2223a;
--mask-color:#eb2323;

}

body{
    /* background: #cecdcd; */
     background-image: url("../images/space_illustration-wallpaper-1600x900.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

.container-fluid{
    height: 100vh;
}

.header{
    background-color: var(--primary-color);
}

.brand-name{
    color:  white;
    font-size: 150%;
    /* font-family: 'ZCOOL QingKe HuangYou'; */
font-family: 'Orbitron' ;
/* font-family: 'Faster One' ; */
}
 .nav-text{
    color: white !important;
        font-family: 'IBM Plex Sans' !important;
        font-size: 115% !important;
        cursor: pointer !important;
}
.nav-text:hover{
    color: #1bc097;
    border-bottom: 3px solid #1bc097;
}
.dropdown-toggle{
    color: white !important ;
}

.fa-user-circle{
    font-size: 30px;
    color: white !important;
}

.hover-board{
    display: none;
    right: 10.9% !important;
    width: 200px;
    top: 25px;
    z-index: 4;
}

.hover-board a{
    color: #137e63 !important;
    cursor: pointer;
    margin-bottom: 10px !important;
}


.hover-board a:hover{
    background: var(--primary-color) !important;
    color: white !important;
}

.page-indicator{
    color: white !important;
}
.boxes{
    background: white;
    border: 1px solid lightgray;
}

#Cash_info_box{
background: var(--primary-color);
color: white;
}
.cash-info-intro{
    font-size: 12px;
}

.cash-display{
    font-size: 180%;
}


#network_box{
    height: 398px;
}
.networks{
    font-family: 'Exo 2' ;
    margin: 10px;
}

.net_name{
    font-family: 'Oxanium';
    font-size: 150%;
}

.btn{
    background: #137e63 !important;
    color: white;
}

.btn:hover{
    background: #1bc097 !important;
}

a{
    text-decoration: none !important;
}

.about-bk-img{
height: 50vh;
}

.about-intro{
    font-size: 300%;
    color: var(--primary-color);
    font-family: tahoma;
    font-weight: bold;
    text-shadow: 1px 2px 2px white;
}
.about-fore{
    background: var(--primary-color);
}

.about-icons{
    font-size: 140%;
}
.little-texts{
 font-size: 110%;
            font-family: 'IBM Plex Sans';
}
.profile-pic-con{
    background: var(--primary-color) !important;
}

#profile-pic{
    color: white;
    font-size: 700%;
}

.forms-super-con, .sign-up-con{
    background: var(--primary-color);
}


#message{
    height: 150px;
}

#trans-page-list-con{
    overflow-y:auto;
    height: 67vh;
}

.log-cons{
    min-height: 630px;
}

.sign-up-con{
    color: white !important;
}

#reg-con, #reg1-con{
    display: none;
}

#sign-in-con{
    display: block;
}

.landing-ad{
    height: 50vh; 
    overflow: hidden;
}

        .img-fluid {
            width: 100%;
            object-fit: fill;
            height: 100%;
        -webkit-transition: all 0.65s;
            -moz-transition: all 0.65s;
            -o-transition: all 0.65s;
            transition: all 0.65s;
        }

.shadow-lg hr{
    margin-top: 50px;
}


.plan-name{
    font-weight: bold !important;
    font-family: tahoma !important;
    font-size: 140% !important;
}

   
       




/* ------------------------ */
@media screen and (max-width:425px){

     .img-fluid {
        height: 100%;
        object-fit: fill;
        }

 
 .indicator-con{
        width: 100% !important;
    }
    .dash-board{
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }

    .boxes{
        min-width: 93% !important;
    }

    .sign-up-con{
        display: flex;
        flex-direction: column;
    }

    .log-cons{
        min-height: 30vh !important;
    }

     #network_box{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        max-height: 285px !important;
        margin-bottom: 10px !important;
    }

    .profile-top{
        flex-direction:column !important;
    }

    .profile-pic-con{
        margin-bottom: 10px !important;
    }

    .forms-super-con{
        flex-direction: column;
        margin-bottom: 30px !important;
}

#trans-page-list-con{
    align-items: center !important;
    margin:  auto !important;
}


.hover-board{
    display: none;
    right: 17% !important;
    width: 200px;
    top: 43.5vh;
    z-index: 4;
}

.shop-rows{
    flex-direction: column;
    align-items: center !important;
    margin:  auto !important;
    margin-bottom: 30px !important;
}

}
