:root{
--primary-color:#293d4e;
--secondary-color:#b2223a;
--tertiary-color: linear-gradient(to left, #0d1336, #264A9D);
--mask-color:#d3d3d3;
--draw-color:#ecec12;

}

body{
    background: rgb(226, 225, 225);
    font-size: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

.container-fluid{
    height: 100vh;
}

.header{
    background-color: var(--primary-color);
}

.brand-name{
    color:  white;
    font-size: 200%;
    /* font-family: 'ZCOOL QingKe HuangYou'; */
font-family: 'Orbitron' ;
/* font-family: 'Faster One' ; */
}
 a .nav-text{
    color: white;
        font-family: 'IBM Plex Sans';
        font-size: 105%;
        cursor: pointer;
}
a .nav-text:hover{
    color: #1bc097;
    border-bottom: 3px solid #1bc097;
}

.fa-user-circle{
    font-size: 25px;
}

.hover-board{
    display: none;
    right: 3% !important;
    width: 150px;
    top: 25px;
    z-index: 4;
}

.hover-board li{
    color: #137e63;
    cursor: pointer;
}

.hover-board li:hover{
    background: var(--primary-color) !important;
    color: white;
}

#tab2, #tab3, #tab4{
display: none;
}

.boxes{
    background: white;
    border: 1px solid lightgray;
    box-shadow: 0px 1px 12px lightgray;
}

#Cash_info_box{
background: var(--primary-color);
color: white;
}
.cash-info-intro{
    font-size: 12px;
}

.cash-display{
    font-size: 180%;
}


#network_box{
    height: 300px;
}
.networks{
    font-family: 'Exo 2' ;
    margin: 10px;
}

.net_name{
    font-family: 'Oxanium';
    font-size: 150%;
}

.btn{
    background: #137e63 !important;
    color: white;
}

.btn:hover{
    background: #1bc097 !important;
}

a{
    text-decoration: none !important;
}

.about-bk-img{
height: 50vh;
}

.about-intro{
    font-size: 300%;
    color: var(--primary-color);
    font-family: tahoma;
    font-weight: bold;
    text-shadow: 1px 2px 2px white;
}
.about-fore{
    background: var(--primary-color);
}

.about-icons{
    font-size: 140%;
}
.little-texts{
 font-size: 110%;
        font-family: 'IBM Plex Sans';
}
.profile-pic-con{
    background: var(--primary-color) !important;
}

#profile-pic{
    color: white;
    font-size: 700%;
}

.forms-super-con, .sign-up-con{
    background: var(--primary-color);
}


#message{
    height: 150px;
}

.log-cons{
    min-height: 630px;
}

.sign-up-con{
    color: white !important;
}